.App {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.hero {
  background-color: #f0f8f9; /* Fondo suave */
  padding: 4rem;
  text-align: center;
}

.hero-content h2 {
  font-size: 2.5rem;
  color: #497f8c;
}

.hero-content p {
  font-size: 1.2rem;
  color: #556e71;
}

.contact {
  background-color: #e1f5f9; /* Sección de contacto */
  padding: 2rem;
  text-align: center;
}

.contact h2 {
  color: #497f8c;
}

.contact p {
  font-size: 1.1rem;
  color: #4d6467;
}
